body {
    margin: 0;
    padding: 0;
  }

.navbar {
  background-color: #1f1f14;
}

.navbar li{
  margin:0;
  margin-left:3em;
}

.nav li:hover{
  background-color: #005f5f;;
}

.nav li a{
  font-family: 'Mukta 27px', sans-serif;
  color:white;
  font-size: 1.3em ;
}

#FileUploadContainer{
  margin:5em;
  padding:2em;
  box-sizing:border-box;
  border : 2px solid rgba(0,0,0,.1);
  box-shadow:0 5px 10px rgba(0,0,0,.2);
  display:none;
  font-family: 'Mukta 27px', sans-serif;
}

#FileContainer{
  margin:5em;
  padding:2em;
  box-sizing:border-box;
  border : 2px solid rgba(0,0,0,.1);
  box-shadow:0 5px 10px rgba(0,0,0,.3);
  font-family: 'Mukta 27px', sans-serif;
  display:none;
}

.fa, .fas{
  float:right;
  margin-right: 1em;
}

#inputForUpload {
  margin:auto;
}

#inputForUpload input{
  margin:1em;
}

@media(max-width:768px){
  #FileUploadContainer{
    margin:2em;
    padding:0;
  }

  #FileContainer{
    margin:2em;
    padding:0;
  }
}


@media(max-width:576px){
  #inputForUpload{
    padding:3em;
  }
}